* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap');

body {font-family: 'Ubuntu', sans-serif;}

/* header navigation */

.desktop-header-nav {
    display: flex;
    background-color: whitesmoke;
    height: 64px;
    justify-content: space-between;
    padding-left: 24px;
    padding-right: 24px;
    align-items: center;
}

.logo {
    display: flex;
    /* background-color: white; */
    height: 32px;
    align-items: center;
    color: grey;
}

p1 {
    color: black;
    font-weight: bold;
}

.nav-site {
    display: flex;
    gap: 16px;
    color: #2e2e2e;
}

ul {
    list-style: none;
}

/* introduction section */

.introduction {
    display: flex;
    background-color: #d3d3d3;
    padding-top: 32px;
    padding-bottom: 32px;
    padding-left:24px;
    gap: 24px;
    align-items: center;
}

.intro-pic {
    width: 60%;
}

.intro-content {
    display: flex;
    flex-direction: column;
    gap:  16px;
    /* background-color: #2e2e2e; */
    width: 30%;
}

.intro-head-font {
    font-size: xx-large;
    font-weight: bold;
}

.intro-button {
    padding-top: 8px ;
    padding-bottom: 8px;
    color:#d3d3d3;
    background-color: #2e2e2e;
}

/* information section */

    /* info-intro */

.information {
    display: flex;
    flex-direction: row;
    background-color: whitesmoke;
    padding-top: 32px;
    padding-bottom: 32px;
    padding-left:24px;
    gap: 24px;
}

.info-main {
    display: flex;
    flex-direction: column;
    /* background-color: red; */
    width: 60%;
    gap:32px
}

.info-intro {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.info-intro-article {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.info-intro-head {
    font-size: x-large;
    font-weight: bold;

}

.info-intro-des {
    color: #808080;
}

.owner-des {
    color:#2e2e2e;
    font-weight: 500;
}

    /* info-article */

.info-article {
    display: flex;
    flex-direction: column;
    width: 40%;
}

.info-article-contents {
    display: flex;
}
.info-article-contents:hover{
    background-color: #808080;
}

.info-article-pic {
    width: 35%;
    height: auto;
    padding: 16px;
}

.info-article-des {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 8px;
}

.article-head {
    font-size: large;
    font-weight: bold;
}

.article-des {
    font-size: small
}

a {
    text-decoration: none;
}

/* course section */

.course {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 32px;
    padding-bottom: 32px;
    padding-left: 72px;
    padding-right: 72px;
    background-color: #E5E4E2;
    gap: 32px;
}

.section-head {
    color: #2e2e2e;
    font-size: x-large;
    font-weight: bold;
}

.course-contents {
    display: flex;
    flex-wrap: wrap;
    height: auto;
    gap:32px;
}
.course-name {
    display: flex;
    flex-direction: column;
    width: 30%;
    background-color: whitesmoke;
    gap:8px;
    padding-left: 16px;
    padding-bottom: 24px;
    color:#808080;
}

.course-img {
    width: 100%;

}

.course-head {
    margin-top: 16px;
    font-weight: bold;
    color:#2e2e2e; 
}

/* thesis section */

.thesis {
    display: flex;
    flex-direction: column;
    padding-top: 32px;
    padding-bottom: 32px;
    gap: 32px;
    background-color: whitesmoke;
    text-align: center;
}

.video-section {
    display: flex;
    text-align: start;
    padding-left: 24px;
    gap: 24px;
}

.main-video {
    display: flex;
    flex-direction: column;
    width: 60%;
}

.thesis-video {
    width: 100%;
    height: auto;
}

.main-video-des {
    display: flex;
    flex-direction: column;
    color: #808080;
    padding-top: 24px;
    gap: 8px;
}

.video-name {
    font-weight: bold;
    color:#2e2e2e;
}

.thesis-box {
    display: flex;
    flex-direction: column;
    width: 40%;
}

.sub-thesis-content {
    display: flex;
    flex-direction: column;

}

.thesis-content {
    display: flex;
    padding: 16px;
    gap: 16px;
    align-items: center;
}

.thesis-content:hover {
    background-color: #808080;
}

.thesis-img {
    width: 35%;
    height: auto;
}

.thesis-des {
    display: flex;
    flex-direction: column;
    gap:8px;
}